#page{
    margin: 10px 30px;
}

.deteleBt{
    float: right;
}

.click{
    cursor: pointer;
}

.comment{
    vertical-align: middle;
    float: right;
}

.newComment{
    position: fixed;
    bottom: 0;
}

.commentCard{
    margin-right: 10px;
    margin-top: 3em;
}